//
//  Common.xcconfig
//  CardDeck
//
//  Created by Lam, Morris on 5/16/20.
//  Copyright © 2020 Morris Lam. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Deployment Target
IPHONEOS_DEPLOYMENT_TARGET = 13.0

// Build
APP_NAME = CardDeck
